In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/ingredients_2_original.csv")
print(f"df.shape {df.shape}")
df.head()

df.shape (438, 1)

         Ingredients
0           allspice
1             almond
2  all-purpose flour
3           amaretti
4            anchovy

In [14]:
def extract_multiword_rows(df, column_name="Ingredients", threshold=1):
    return df[df[column_name].str.split().str.len() > threshold]

filtered_df = df[df["Ingredients"].str.split().str.len() <= 2]

filtered_df = extract_multiword_rows(filtered_df, threshold=1)
filtered_df

              Ingredients
2       all-purpose flour
6             apple juice
8         artichoke heart
11        asparagus spear
16            baked beans
..                    ...
430  worcestershire sauce
432         yellow pepper
433         greek yoghurt
434       natural yoghurt
437             red onion

[113 rows x 1 columns]